@import "tailwindcss";

@font-face{
  font-family: font1;
  src: url(fonts/Lausanne-300.woff2);
}

@font-face{
  font-family: font2;
  src: url(fonts/Lausanne-500.woff2);
}

body{
  background-color: black;
}

*::selection {
  background-color: #D3FD50;
  color: black;
}


.moveX {
  /* force width > 100% to hold both strips inside each container */
  flex-shrink: 0;
  animation: moveAnimation 9s linear infinite;
}

@keyframes moveAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); /* move one full track to the left */
  }
}

.moveLink{
  height:0;
  overflow:hidden;
}

.link:hover .moveLink{
  height:100%;
  transition: all ease 0.3s;
}
